 body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: tomato;
    }
    .equipo {
      display: inline-block;
      margin: 20px;
      vertical-align: top;
      border: 5px solid ;

    }
    .pokemon {
      margin: 10px;
      color: white;

    }
    .resultados {
      margin-top: 10px;
      margin-left: 25%;
      margin-right: 25%;
      background-color: wheat;
    
      border: 5px double goldenrod;
    }
    .dados{
        margin-top: 20px;
    }
    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }