body{
    background-color: beige;
    text-align: center;
}

.mostrar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6vh;
    gap: 4vh;
}
.box{
     border: 6px double;
     border-radius: 2px;
     background-color: gold;
     color: gray;
}
.box-mayor{
    border: 2px salmon;
    border-radius: 2px;
    background-color: gold;
    color: black;
    border: 8px solid goldenrod;

}