body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: wheat;

}
.equipos{
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    border: 5px solid;
    background-color: tomato;
    color: black;
}
.vs{
    font-size: 32px;
    font-weight: bold;
    align-self:center ;
    margin: 0 10px;
}

.contenedorEquipos{
     display: flex; /* lo uso para poner un equipo al lado del otro*/
    justify-content: center;
    gap: 20px; /* espacio entre equipo y el vs*/

}
.pokemon{
    margin: 10px;
    color: black;

}

.resultados{
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: wheat;

    border: 5px double goldenrod;

}

.dados{
    margin-top: 20px;

}

button:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

